<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.adminName
                </h2>
                <small>Core Blog Kurucusu</small>
            </div>
            <img src="@ViewBag.adminImage" width="160" height="200" class="rounded-circle circle-border m-b-md" alt="profile">
            <div>
                <span>100 Tweet</span> |
                <span>560 Takipçi</span> |
                <span>450 Takip Edilen</span>
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">@ViewBag.adminName</h4>
            <p>Büyük zaferler güçle değil azimle kazanılır.</p>
            <div class="text-right">
                <a href="" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Beğen </a>
                <a href="" class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs">24</h1>
                <h3 class="font-bold no-margins">
                    yazar aramıza katıldı
                </h3>
                <small>Bugün</small>
            </div>
        </div>
        <div class="widget  p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>
                <h1 class="m-xs">3</h1>
                <h3 class="font-bold no-margins">
                    Bug oldu
                </h3>
                <small></small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2>
                İletişim
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    admin@mail.com
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres:</label>
                    Cadde 200, sokak 10
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Telefon:</label>
                    (+312) 678 3462
                </li>
            </ul>

        </div>
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs">7</h1>
                <h3 class="font-bold no-margins">
                    Kişi
                </h3>
                <small> bildirimlere tıkladı.</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-thumbs-up fa-4x"></i>
                <h1 class="m-xs">32</h1>
                <h3 class="font-bold no-margins">
                    Beğeni
                </h3>
                <small></small>
            </div>
        </div>
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">Alarm</h1>
                <h3 class="font-bold no-margins">
                    Bakım
                </h3>
                <small>için alarma bas</small>
            </div>
        </div>
    </div>
</div>
@section scripts{

}