
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div id="chartdiv" style="width:800px; height:600px">
            <h1>Burası Chart Alanıdır</h1>
        </div>
    </div>
</div>

