<div class="dropdown profile-element">
    <img alt="image" width="80" height="75" class="rounded-circle" src="@ViewBag.img" />
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="block m-t-xs font-bold">@ViewBag.name</span>
        <span class="text-muted text-xs block">@ViewBag.roleName <b class="caret"></b></span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a class="dropdown-item" href="/Admin/AdminProfile/Index/">Profil</a></li>
        <li><a class="dropdown-item" href="/Admin/AdminMessage/Inbox/">Mail Kutusu</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/Login/LogOut">Çıkış Yap</a></li>
    </ul>
</div>

