@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Status Durumu</th>
        <th>Değişiklikler</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            @if (item.CategoryStatus == false)
            {
                <td><a href="/Admin/Category/CategoryStatusChange/@item.CategoryId" id="DeleteBtn" onclick="return confirm('Aktif yapmak istediğinize emin misiniz?');" class="btn btn-primary">Aktif Yap</a></td>
            }
            else
            {
                <td><a href="/Admin/Category/CategoryStatusChange/@item.CategoryId" id="DeleteBtn" onclick="return confirm('Pasif yapmak istediğinize emin misiniz?');" class="btn btn-danger">Pasif Yap</a></td>
            }

            <td><a href="/Admin/Category/CategoryUpdate/@item.CategoryId" class="btn btn-warning">Düzenle</a></td>
        </tr>

    }
</table>
<a href="/Admin/Category/CategoryAdd" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

@section scripts{

}