body {
    font-family: Arial;
}
h3.tittle {
    text-align: center;
    font-size: 2.5em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    font-weight: 600;
}
3.tittle.cen {
    color: #fff;
}
p {
    margin: 0;
    font-size: 1.3em;
    color: #433b45;
    line-height: 2em;
    letter-spacing: 1px;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
h6 {
    display: block;
    font-size: 1.3em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-style:  unset;
}
h3{
    font-size:1.7em;
}
    h3.tittle.cen.foot {
        font-weight: 300;
        margin-bottom: 1em;
    }

.banner-btm-inner h6 {
    font-size: 1.1em;
    font-weight: 600;
    color: #222;
    margin-bottom: 1em;
}

    .banner-btm-inner h6 a {
        color: #222323;
        letter-spacing: 2px;
    }

.banner-btm-inner p {
    font-size: 0.9em;
    color: #fff;
    margin: 1em 0;
}
.mid-text-info p {
	margin-top: 0.3em;
    letter-spacing: 2px;
    color: #fff;
}

