<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Asp.Net Core 5.0</h1>
                <br />
                <h2 class="font-bold no-margins">
                    Hakkımızda
                </h2>
                <br />
                <h3>
                    Projemizin bupanelinde admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.150 ders ile bitirmeyi hedefliyoruz.
                </h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blog</h1>
                <h2 class="font-bold no-margins">
                    @ViewBag.v1
                </h2>
                <small>Yazar: @ViewBag.v2</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 860,60</h1>

                <h3 class="font-bold no-margins">
                    Blog Sitese Kazancı
                </h3>
                <small></small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{

}