
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Burası kendi oluşturduğumuz view sayfasıdır</h3>
<table>
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>DEPARTMAN</th>
    </tr>
</table>
