
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Core 5.0 Yazar Paneli</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/writer/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/writer/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />
    <link href="~/CoreBlogTema/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/web/css/fontawesome-all.css" rel="stylesheet">
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                @*<a class="navbar-brand navbar-brand-wrapper" href="~/writer/index.html"><img src="~/CoreBlogTema/web/images/teladoc.png" width="10" height="20" alt="logo" /></a>*@
                <div class="top-bar_sub_w3layouts container-fluid">
                    <div class="row">
                        <div class="col-md-4 logo text-left">
                            <a class="navbar-brand" href="#">
                                <i class="fab fa-linode">KVOTHE</i>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="navbar-brand brand-logo-mini" href="~/writer/index.html"><img src="~/writer/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Aranacak kelimeyi giriniz...">
                        </div>
                    </form>
                </div>
                @await Component.InvokeAsync("WriterName");
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("~/Views/Writer/WriterNavbarPartial.cshtml")

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("~/Views/Writer/WriterFooterPartial.cshtml")
            </div>
        </div>
    </div>
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src=".~/writer/assets/js/off-canvas.js"></script>
    <script src="~/writer/assets/js/hoverable-collapse.js"></script>
    <script src="~/writer/assets/js/misc.js"></script>
</body>
</html>
