<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        @await Component.InvokeAsync("WriterNavbarName");
        <li class="nav-item">
            <a class="nav-link" href="~/Dashboard/Index">
                <span class="menu-title">Gösterge Paneli</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Writer/WriterEditProfile">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter/">
                <span class="menu-title">Bloglarım</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogAdd/">
                <span class="menu-title">Yeni Blog</span>
                <i class="mdi mdi-format-list-triangle menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/Inbox">
                <span class="menu-title">Gelen Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/SendBox">
                <span class="menu-title">Giden Mesajlar</span>
                <i class="mdi mdi-message-reply-text menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/AllNotification/">
                <span class="menu-title">Bildirimler</span>
                <i class="mdi mdi-bell-ring menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Blog/Index">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Writer/WriterEditProfile">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Login/LogOut">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-door-closed menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>
