@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@{ int i = 1; }
<h1>Gelen Kutusu</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Gönderen</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        

        
            <tr>
                <th>@(i++)</th>
                <td>@item.Subject</td>
                <td>@item.SenderUser.WriterName</td>
                <td>@(((DateTime)item.MessageDate).ToString("dd-MMMM-yyyy"))</td>
                <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-gradient-success">Mesajı Aç</a></td>
            </tr>
        
    }
</table>


