@using EntityLayer.Concrete
@model List<Writer>
@{
    ViewData["Title"] = "WriterProfileList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="ibox">
                        <div class="ibox-content product-box">


                            <img class="rounded-circle" src="@item.WriterImage" height="180" width="180" />

                            <div class="product-desc">

                                @if (item.WriterStatus == true)
                                {
                                    <font color="red">
                                        <span class="product-price">
                                            <a href="#"><font color="white"><i class="fa fa-check"> Aktif </i></font></a>

                                        </span>
                                    </font>
                                }
                                else if (item.WriterStatus == false)
                                {
                                    <font color="red">
                                        <span class="product-price">
                                            <a href="#"><font color="red"><i class="fa fa-close"> Aktif Değil</i></font></a>

                                        </span>
                                    </font>
                                }

                                <small class="text-muted">@item.WriterMail</small>
                                <a href="#" class="product-name"> @item.WriterName</a>



                                <div class="small m-t-xs">
                                    @item.WriterAbout
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
    @section scripts{ }
</body>

</html>


