@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanıcı Rol Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı</th>
        <th>Rol Ata</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td><a href="/Admin/AdminRole/AssignRole/@item.Id" class="btn btn-outline-secondary">Rol Ata</a></td>
        </tr>
    }
   
    @section scripts{ }

</table>
<br />
<a href="/Admin/AdminRole/Index" class="btn btn-outline-warning">Rol Listesine Dön</a>
